# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pyc
db.sqlite3
/staticfiles
/media

# Environments
.env
venv/
env/
*.egg-info/
.Python

# VSCode
.vscode/

# Byte-compiled / cache
*.py[cod]
__pycache__/
